.caption {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption:hover {
    white-space: normal;  
}

.picture {
    height: 208px;
    width: 285px;
}

.thumbnail, p.caption {
  margin-bottom : 0px !important;
}

.form-group input {
    width:300px !important;
}