.caption {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption:hover {
    white-space: normal;  
}

.picture {
    height: 208px;
    width: 285px;
}

/*.pagination a {
    width: 54px;
}*/