<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="flickr-search"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flickr Search</title>
  <meta name="description" content="Picture search that uses Flickr API">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  
</head>
<body ng-controller="SearchController as search">
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <form name="searchForm" class="navbar-form navbar-default text-center" role="search" ng-submit="search.newSearch()" novalidate>
                    <div class="container-fluid">
                        <div class="form-group">
                            <input name="keywords" type="text" class="form-control" placeholder="Search on Flickr" ng-model="search.keywords" required>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="error" class="alert alert-danger" ng-hide="!(search.submitted)" ng-show="search.submitted && searchForm.keywords.$error.required">
           Please, enter the search keywords.
        </div>
        <div id="main">
            <div class="thumbnail picture" ng-repeat="product in search.products | offset: search.currentPage* search.itemsPerPage | limitTo: search.itemsPerPage">
                <a href="{{product.flickr}}">
                    <img ng-src="{{product.img}}" alt="{{product.title}}">
                    <p class="caption">{{product.title}}</p>
                </a>
            </div>
        </div>
        
        <div class="text-center">
            <ul class="pagination pagination-lg">
              <li ng-class="prevPageDisabled()"><a href ng-click="prevPage()">&laquo;</a></li>
              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)"><a href="#">{{n+1}}</a></li>
              <li ng-class="nextPageDisabled()"><a href ng-click="nextPage()">&raquo;</a></li>
            </ul>
        </div>
    </div>




  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>