<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="flickr-search"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flickr Search</title>
  <meta name="description" content="Picture search that uses Flickr API">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.css">
  
</head>
<body ng-controller="SearchController as search">
    <div class="container">
        
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <form name="searchForm" class="navbar-form navbar-default text-center" role="search" ng-submit="search.newSearch()" novalidate>
                    <div class="container-fluid">
                        <div class="form-group" ng-class="{'has-error' : search.emptySubmitted && searchForm.keywords.$pristine }">
                            <input name="keywords" type="text" class="form-control" placeholder="Искать на Flickr" ng-model="search.keywords" required>
                        </div>
                        <button type="submit" class="btn btn-default">Найти</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div id="error" class="alert alert-danger" ng-show="search.showMessage" ng-model="search.message">
        {{search.message}}
        </div>
        
        <div class="container-fluid">
            <div class="row" ng-repeat="row in search.rows">
               <div class="thumbnail picture col-sm-3 col-xs-12"  ng-repeat="product in row">
                    <a href="{{product.flickr}}" target="_blank">
                        <img ng-src="{{product.img}}" alt="{{product.title}}">
                        <p class="caption text-center">{{product.title}}</p>
                    </a>     
               </div>
            </div>
        </div>
        
<!--
        <div id="paginator" class="text-center" ng-show="search.showNav">
            <ul class="pagination pagination-lg">
                <li id="first" ng-class="{'disabled' : search.prevDisabled }"><a href ng-click="search.currentPage = 1" ng-disabled="search.prevDisabled">«</a></li>
                <li id="prev" ng-class="{'disabled' : search.prevDisabled }"><a href ng-click="search.currentPage = search.currentPage - 1"  ng-disabled="search.prevDisabled">‹</a></li>
                <li ng-repeat="n in range()" ng-class="{active: n == search.currentPage}" ng-click="currentPage = n"><a href="#">{{n}}</a></li>
                <li id="next" ng-class="{'disabled' : search.nextDisabled }"><a href ng-click="search.currentPage = search.currentPage + 1" ng-disabled="search.nextDisabled">›</a></li>
                <li id="last" ng-class="{'disabled' : search.nextDisabled }"><a href ng-click="search.currentPage = search.pageCount" ng-disabled="search.nextDisabled">»</a></li>
            </ul>
        </div>
-->
        
    </div>
    
    <div class="text-center" ng-show="search.showNav">
        
        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-lg" items-per-page="itemsPerPage"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">>
        </pagination>
    </div>
<!--
    <style>
        h1 {
            text-align: center;
        }
        .pagination-large ul > li > a > i {
            line-height: 17.5px;
        }
        .pagination ul > li > a, .pagination ul > li > span {
            width: 20px;
        }
        
    </style>
    <ul id="pagination-demo" class="pagination-lg" ng-model="{{search.pageCount}}"></ul>
    <div class="container well">
        <h1>Page: <input type="number" ng-model="pagination.cur" min="1" max="{{pagination.total}}" class="span1" /></h1>
        <ui-pagination cur="pagination.cur" total="pagination.total" display="9"></ui-pagination>
        <ui-pagination cur="pagination.cur" total="pagination.total" display="{{pagination.display}}"></ui-pagination>
        <div style="text-align: center;">Display: <input type="number" ng-model="pagination.display" min="1" max="{{pagination.total}}" class="span1" /></div>
    </div>
        <script type="text/javascript">


        function TestController($scope) {
            $scope.pagination = {
                cur: 1,
                total: 25,
                display: 12
            }
        };
    </script>
-->
    <script src="js/jquery-1.11.1.min.js"></script>
<!--    <script src="js/jquery.twbsPagination.min.js"></script>-->

    <script src="js/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/app.js"></script>


</body>
</html>