<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" ng-app="flickr-search"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flickr Search</title>
  <meta name="description" content="Picture search that uses Flickr API">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  
</head>
<body ng-controller="SearchController as search">
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <form name="searchForm" class="navbar-form navbar-default text-center" role="search" ng-submit="search.newSearch()" novalidate>
                    <div class="container-fluid">
                        <div class="form-group">
                            <input name="keywords" type="text" class="form-control" placeholder="Искать на Flickr" ng-model="search.keywords" required>
                        </div>
                        <button type="submit" class="btn btn-default">Найти</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="error" class="alert alert-danger" ng-hide="!(search.submitted)" ng-show="(search.submitted && searchForm.keywords.$error.required) || (search.product.length === 0)" ng-model="search.message">
        {{search.message}}
        </div>
        

        
        <div class="container-fluid">
            <div class="row" ng-repeat="row in search.rows">
               <div class="thumbnail picture col-sm-3 col-xs-12"  ng-repeat="product in row">
                    <a href="{{product.flickr}}" target="_blank">
                        <img ng-src="{{product.img}}" alt="{{product.title}}">
                        <p class="caption text-center">{{product.title}}</p>
                    </a>     
               </div>
            </div>
        </div>
        
        <div id="paginator" class="text-center" ng-show="search.showNav === true">
            <ul class="pagination pagination-lg">
              <li id="prev" ng-class="{'disabled' : prevPageDisabled() }"><a href ng-click="search.fetchOnePage(search.currentPage - 1, 'prev')">&laquo;</a></li>
              <li ng-repeat="n in range(search.pageCount)" ng-class="{active: n == search.currentPage}" ng-click="search.fetchOnePage(n)"><a href="#">{{n}}</a></li>
              <li id="next" ng-class="{'disabled' : nextPageDisabled() }"><a href ng-click="search.fetchOnePage(search.currentPage + 1, 'next')">&raquo;</a></li>
            </ul>
        </div>
        
    </div>


    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>